.premium-footer {
  background: linear-gradient(180deg, #020617, #020617);
  color: #fff; /*#e5e7eb*/
  /* padding: 55px 16px 0; */
}

.footer-container {
  /* max-width: 1200px; */
  margin: auto;
  display: grid;
  grid-template-columns: 1.4fr 1fr 1fr 1.2fr;
  gap: 50px;
  padding: 55px 16px 0;
}

.footer-col h3 {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 14px;
}

.footer-col h4 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 16px;
  color: #f8fafc;
}

.footer-col p {
  font-size: 15px;
  line-height: 1.7;
  color: #c7d2fe;
  margin-bottom: 22px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-col ul li {
  font-size: 14px;
  margin-bottom: 10px;
  color: #cbd5f5;
  cursor: pointer;
  transition: color 0.25s ease;
}

.footer-col ul li:hover {
  color: #60fa8a; /*#60a5fa;*/
}

.footer-whatsapp {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background: linear-gradient(135deg, #22c55e, #16a34a);
  padding: 12px 20px;
  border-radius: 12px;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  box-shadow: 0 15px 35px rgba(34, 197, 94, 0.35);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.footer-whatsapp:hover {
  transform: translateY(-2px);
  box-shadow: 0 25px 45px rgba(34, 197, 94, 0.45);
}

.contact-list li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-bottom {
  margin-top: 50px;
  padding: 20px 0;
  text-align: center;
  font-size: 13px;
  color: #fff;
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  background: linear-gradient(359deg, #4e525200 0%, #404040 100%);
}

/* Tablet */
@media (max-width: 900px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .premium-footer {
    padding-top: 0px;
  }

  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .contact-list li {
    justify-content: center;
  }

  .footer-whatsapp {
    justify-content: center;
  }
}