/* ===== FOOTER BASE ===== */
.premium-footer {
  background: radial-gradient(circle at top, #0f1f2d, #08131d);
  color: #d1d5db;
  font-size: 14px;
}

.legal-footer-brand {
  font-weight: 600;
  font-size: 1.90rem;
  letter-spacing: -0.4px;
  color: #fff;
  transition: all 0.25s ease;
  cursor: pointer;
}

.legal-footer-brand:focus,
.legal-footer-brand:hover {
  color: #fff !important;
  filter: drop-shadow(0px 0px 20px #fff);
}
.ftr-brand-icon {
  color: #fff;
  font-size: 1.9rem;
  margin: 0px 15px;
}


/* ===== CONTAINER ===== */
.footer-container {
  max-width: 1200px;
  margin: auto;
  padding: 60px 20px 40px;
  display: grid;
  grid-template-columns: 2fr 1.3fr 1.6fr 1.3fr;
  gap: 40px;
}

/* ===== COLUMNS ===== */
.footer-col h3,
.footer-col h4 {
  color: #fff;
  margin-bottom: 14px;
  font-weight: 600;
}

.footer-col p {
  line-height: 1.7;
  margin: 0;
}

.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-col ul li {
  margin-bottom: 10px;
  line-height: 1.5;
  cursor: pointer;
}
.footer-col ul li:hover {
    color: #60fa8a;
}

/* ===== LOCATIONS ===== */
.locations-col {
  display: flex;
  flex-direction: column;
}

.locations-title {
  text-align: left;
}

.locations-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

/* ===== CONTACT ===== */
.contact-list li {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* ===== FOOTER BOTTOM ===== */
.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, .08);
  background: linear-gradient(359deg, #4e525200, #404040);
  text-align: center;
  padding: 16px;
  font-size: 13px;
  color: #9ca3af;
}

/* ================================================= */
/* ================= MOBILE VIEW =================== */
/* ================================================= */

@media (max-width: 768px) {

  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 32px;
  }

  .footer-col {
    align-items: center;
  }

  .contact-list li {
    justify-content: center;
  }

  /* Locations mobile fix */
  .locations-title {
    text-align: center;
  }

  .locations-grid {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}