.homeBG{
    background-image: url(../../assets/images/heroImage.png);
    background-size: contain;
    background-position: 72%;
    background-repeat: no-repeat;
    min-height: 100vh;
    text-align: center;
    box-shadow: 0 4px 6px -6px #222;
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    /* border-bottom: 1px solid #00a748; */
}

.hero-section {
  padding: 90px 0 60px;
  background-color: #fdfcfd;
}

/* Badge */
.hero-badge {
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  color: #00a748;
  letter-spacing: 1px;
  margin-bottom: 16px;
}

/* Title */
.hero-title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  color: #111;
}

.hero-title span {
  color: #00a748;
}

/* Subtitle */
.hero-subtitle {
  font-size: 1.05rem;
  color: #555;
  margin: 20px 0 28px;
  max-width: 520px;
}

/* Buttons */
.hero-actions {
  display: flex;
  gap: 14px;
  flex-wrap: wrap;
}

.hero-btn {
  color: #fff;
  border: none !important;
  padding: 12px 26px;
  border-radius: 10px;
  font-weight: 500;
}
/* .hero-btn:hover{
    background: #077135 !important;
} */

.hero-btn-outline {
  padding: 12px 26px;
  border-radius: 10px;
}

/* Features */
.hero-features {
  display: flex;
  gap: 20px;
  margin-top: 24px;
  color: #333;
  font-size: 0.95rem;
}

.hero-features svg {
  color: #28a745;
  margin-right: 6px;
}

/* Image */
.hero-image-wrapper {
  position: relative;
  display: inline-block;
}

.hero-image {
  border-radius: 16px;
  max-width: 420px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12);
  background: linear-gradient(180deg, #365b81 0%, #ffffff 100%);
  max-height: 500px;
}

/* Floating Card */
.hero-card {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  padding: 14px 20px;
  border-radius: 12px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.hero-card h6 {
  margin: 0;
  font-weight: 700;
  color: #111;
}

.hero-card p {
  margin: 0;
  font-size: 0.8rem;
  color: #666;
}

/* Mobile */
@media (max-width: 768px) {
  .hero-section {
    padding: 30px 0 40px;
  }
  .homeBG{
    min-height: unset !important;
    /* background-position: 10% 100%; */
    background-position: 11% 50%;
  }
  
  .hero-title {
    font-size: 2.1rem;
  }

  .hero-subtitle {
    font-size: 13px;
  }
  
  .hero-image {
    max-width: 100%;
  }
  
  .hero-card {
    bottom: -12px;
  }
  .hero-features{
    gap:5px;
  }
}
