.rent-why-section {
    background: #f9fafb;
}

/* Card */
.rent-card {
    background: #ffffff;
    border-radius: 16px;
    padding: 20px;
    border: 1px solid #eee;
    transition: all 0.3s ease;
    position: relative;
    border: 3px solid #61cf7859;
    box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
}

.rent-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
    border-color: #d8ffd6;
    cursor: pointer;
}

/* Icon */
.icon-box {
    width: 54px;
    height: 54px;
    border-radius: 14px;
    background: rgb(53 220 113 / 8%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #198754;
    font-size: 22px;
}

/* Typography */
.rent-card h5 {
    color: #16836c;
}

.rent-card p {
    line-height: 1.6;
    color: #777777 !important;
    font-weight: 500;
}

/* Mobile tweaks */
@media (max-width: 576px) {
    .rent-card {
        padding: 22px;
    }
}


.RegIcon img {
  width: 100px;
  height: auto;
  z-index: 1;
}

 