.rent-why-section {
    background: #f9fafb;
}

/* Card */
.rent-card {
    background: #ffffff;
    border-radius: 16px;
    padding: 20px;
    border: 1px solid #eee;
    transition: all 0.3s ease;
    position: relative;
    border: 3px solid #61cf7859;
    box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
}

.rent-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
    border-color: #d8ffd6;
    cursor: pointer;
}

/* Icon */
.icon-box {
    width: 54px;
    height: 54px;
    border-radius: 14px;
    background: rgb(53 220 113 / 8%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #198754;
    font-size: 22px;
}

/* Typography */
.rent-card h5 {
    color: #16836c;
    /* color: #1f2937; */
}

.rent-card p {
    line-height: 1.6;
    color: #777777 !important;
    font-weight: 500;
}

/* Mobile tweaks */
@media (max-width: 576px) {
    .rent-card {
        padding: 22px;
    }
}


/* .icon-box {
  position: relative;
  width: 90px;
  height: 90px;
  margin: 0 auto;
  background: #f4f7fb;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.RegIcon img {
  width: 100px;
  height: auto;
  z-index: 1;
}

/* Number Badge */
/* .step-badge {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 28px;
  height: 28px;
  background: linear-gradient(135deg, #4f46e5, #6366f1);
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 6px 15px rgba(79, 70, 229, 0.35);
} */
 